
footer * {
  color: var(--var-secondary-color);
}

footer div > * {
  margin: 0 0.5rem;
}
@media (max-width: 640px) {
  footer {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: auto;
    padding: 0 2rem;
  }

  .footer-item:nth-child(2) {
    order: 1;
  }
}
