.user-action-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2vh 2vw;
  width: 50%;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  overflow: scroll;
}

.user-action-container > * {
  width: 100%;
}

.user-action-container .title {
  text-align: center;
  font-size: 1.5rem;
}

.user-action-container .bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.user-action-container .bottom div {
  display: flex;
  gap: 0.5rem;
}

.user-action-container .close {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  width: fit-content;
  padding: 0.5rem;
}

@media (max-width: 640px) {
  :root {
    font-size: 14px;
  }
  .user-action-container {
    width: 80%;
  }
  .user-action-container .bottom {
    flex-direction: column;
    align-items: center;
  }
}

/*------------------Reused Page--------------------*/

/*------------------Item Page--------------------*/
.items-page {
  background-color: var(--var-bg-color);
  height: 100%;
}

.items-page > * {
  margin: 1rem 3rem;
}

.title-row {
  display: flex;
  justify-content: space-between;
}

.title-row div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*---------paginiation----------*/
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.pagination li {
  display: inline-block;
  border: solid var(--var-font-color) 0.5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--var-button-color);
}

.pagination li:first-child {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  border-left: solid var(--var-font-color) 1px;
}

.pagination li:last-child {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  border-right: solid var(--var-font-color) 1px;
}

.pagination li.active {
  font-weight: bold;
  color: var(--var-primary-color);
}
/*---------paginiation----------*/
/*------------------Item Page--------------------*/

/*------------------Item Detail Page--------------------*/
.item-detail-page {
  background-color: var(--var-bg-color);
  height: 100%;
}

.item-detail-page > * {
  margin: 1rem 3rem;
}

.item-detail-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  background: var(--var-secondary-color);
}

.item-detail-item {
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 4%;
  display: inline-block;
}
/*------------------Item Detail Page--------------------*/

/*------------------Error Page--------------------*/
.error-page {
  background-color: var(--var-bg-color);
  height: 100%;
  width: 100%;
}

.error-page > * {
  margin: 1rem 3rem;
}

.error-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  background: var(--var-secondary-color);
  text-align: center;
  align-items: center;
  position: relative;
}

.error-item {
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 4px;
  display: inline-block;
}

.error-color {
  color: #5f27ff;
}
/*------------------Error Page--------------------*/

@media (max-width: 640px) {
  .title-row {
    flex-direction: column;
  }
}
