/*---------------ItemsList---------------*/
.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  background: var(--var-secondary-color);
}
/*---------------ItemsList---------------*/

/*---------------OneItem---------------*/
.item {
  height: auto;
  border: solid var(--var-font-color) 1px;
  box-sizing: border-box;
  min-width: 200px;
  width: calc(20% - 1rem);
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.item img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  margin: 0;
}

.item-name,
.item-price {
  margin: 0.3rem 0;
}

.item-name {
  color: var(--var-font-color);
}

.item-price {
  font-weight: bold;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.buttons-container > * {
  flex: 1;
  padding: 0.2rem 0;
}
/*---------------OneItem---------------*/

/*---------------AddButton, CreateButton---------------*/
.add-button,
.create-button {
  background: var(--var-button-color);
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 2rem;
}

.create-button {
  padding: 0 1rem;
  color: white;
}

.add-button > * {
  flex: 1;
  color: white;
}

.add-button p {
  text-align: center;
}

.item-detail-actions .add-button,
.item-detail-actions .edit-button {
  flex:1;
}

/*---------------AddButton---------------*/

.edit-button {
  border: var(--var-font-color) solid 1px;
}

/*---------------Sort---------------*/
.sort {
  padding: 0.5rem;
  height: fit-content;
}

/*---------------Sort---------------*/
@media (max-width: 640px) {
  .item {
    flex-basis: 1;
  }
}
