/* Component-specific styling */
.app_container {
  width: 40%; 
  max-width: 800px; 
  margin: 0 auto;
}

.app_title {
  font-size: 24px;
  font-weight: bold;
  color: #333 ;
  margin: 3rem 0 1rem 0;
  text-align: left;
}

.app_form {
  background: #ffffff;
  padding: 1rem 2rem;
  padding-top: 10px;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.app_label {
  display: block;
  font-size: 14px;
  font-weight: 550;
  margin: 1rem 0 1rem 0;
  margin-bottom: 5px;
  color: #555;
}

.app_input, .app_select, .app_textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  /* margin-bottom: 10px; */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  /* transition: border-color 0.3s ease; */
}

.app_input:focus, .app_select:focus, .app_textarea:focus {
  /* border-color: #007BFF; */
  outline: none;
}

.button_holder {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;  /*positioned right*/
}

.app_upload_button {
  position: absolute;
  right: 5px;
  height: 80%; 
  background-color: rgba(80,72,229,1);
  border: none;
  color: white;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.app_img_text {
  font-size: 14px;
  color: #555;
}

.app_flex_row_1, .app_flex_row_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app_flex_row_1 > div:first-child {
  width: 50%;
  margin-right: 10px; 
}

.app_flex_row_1 > div:last-child {
  width: 50%;
}

.app_flex_row_2 > div:last-child {
  width: 65%;
  margin-left: 10px;
}
.app_flex_row_2 > div:first-child {
  width: 30%;
}

.app_img_container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* margin: 0 10rem 0 10rem; */
  width: 70%;
  border: 2px dashed #ccc;
  height: auto; 
  margin: auto; 
}

.app_img_preview {
  max-width: 70%;
  display: block;
  margin: 20px auto;
}

.app_submit_button {
  height: 40px;
  width: 25%; 
  margin-top: 1rem;
  font-size: 14px;
  background-color: rgba(80,72,229,1);
  border: none;
  color: white;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  cursor: pointer;
  left:0;
}

@media screen and (max-width: 768px) {

  /* Switching to column layout for the flex rows */
  .app_flex_row_1, .app_flex_row_2 {
    flex-direction: column;
    align-items: stretch; /* Ensures that the items take up full width */
  }

  /* Resetting specific widths and margins for flex children */
  .app_flex_row_1 > div, .app_flex_row_2 > div {
    width: 100% !important; /* The !important ensures that the width is overridden */
    margin: 0 !important;
  }

  /* Adjusting margin to space out elements vertically */
  .app_flex_row_1 > div:not(:last-child), .app_flex_row_2 > div:not(:last-child) {
    margin-bottom: 10px !important;
  }

  /* Adjusting Image container for smaller screens */
  .app_img_container {
    width: 100%;
  }

  .app_img_preview {
    max-width: 100%;
  }

  /* Adjusting submit button width */
  .app_submit_button {
    width: 100%;
  }
}